<h1>This is <span style="color: red"><%= @profile.username %>'s</span> profile</h1>
<br><br><br>
<h2><%= gravatar_image_tag(@profile.user.email, :alt => "#{@profile.username}") %>
Username: <%= @profile.username %></h2>
<br>
<h2>Age: <%= @profile.age %></h2>
<br>
<h2><%= link_to 'Friends', "./#{@profile.id}/friends" %></h2>
<h2><%= link_to 'Liked Posts', liked_posts_path(@profile) %></h2>
<br><br>

<% if current_user.profile != @profile %>
  <% if @requestable %>
    <h3><%= render 'friendship_requests/form', profile: @profile %></h3>
  <% end %>
<% else %>
  <h3><%= link_to 'edit your profile', edit_profile_path %></h3>
<% end %>