<h1><%= @post.title %></h1>
<h3><%= @post.content %></h3>
<h5><%= link_to "#{@post.likes.size} likes", liked_by_path(@post) %></h5>
<% if current_user.profile.liked_posts.exclude?(@post) %>
  <h5><%= render "likes/form", like: Like.new, post: @post %></h5>
<% else %>
  <h5>You have liked this post</h5>
<% end %>

<% if current_user.profile == @post.profile %>
  <p><%= link_to 'edit this post', edit_post_path %></p>
  <p><%= link_to 'delete this post', post_path(@post), method: :delete, data: {confirm: 'are you sure?'}%></p>
<% end %>

<% @comments.each do |comment| %>
  <%= render 'comments/comment', post: @post, comment: comment %>
<% end %>

<br><br><br>
<%= render 'comments/form' %>
<br><br>